<!-- Modal -->
  <div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
          <h4 class="modal-title" id="helpModalLabel">Instructions</h4>
        </div>
        <div class="modal-body">
          <h1>Editing lane or task names</h1>
          <p>Click on any text to start editing mode. The application will save your input automatically.</p>
          <h1>Drag & Drop</h1>
          <p>You are able to drag and sort tasks to every available lane in any order.</p>
          <p><img src="@routes.Assets.at("images/help_dragndrop.jpg")" alt="drag and drop" /> </p>
          <h1>Delete tasks</h1>
          <p>You can delete task by hovering on a task and click the red cross.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>